:root{
    height: 100%;
    background-color: rgb(175, 219, 219);
}

.container{
    width: 80%;
    margin: auto;
}

.letra{
    font-size: 80px;
    
}

.b{
    display: flex;
    justify-content: center;
    gap: 50px
}

.buttonss{
   font-size: 30px;
   font-family: Courier, monospace;
   font-weight: bold;
    height: 90px;
    width: 40%;
    margin-bottom: 15px;
}