:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: aquamarine;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url("https://pm1.aminoapps.com/6166/fe7e94e869b9e995ebaa838eb60954bfcff57269_hq.jpg");
  background-attachment: fixed;
  background-size: cover; /* Opcional: ajusta la imagen al tamaño del contenedor */
  
 
}

.encabezado {
  background-color: #e95050;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.container_poke {
  display: flex;
 
  justify-content: center;
  padding: 20px;
  margin: auto;
  background-color: transparent;
  width: 80%;
  flex-wrap: wrap;
  
  
}

.pokemon{
  display: flex;
  background-color: transparent;
  flex-direction: column;
  border-radius: 10px;
  
  width: 250px;
  height: 300px;
  margin: 10px;
  background-color: rgba(211, 248, 214, 0.923);
  
  

}

.pokemon_img{
  display: flex;
  height: 80%;
  

}

.name{
  display: flex;
  font-size: 20px;
  background-color: rgba(44, 78, 42, 0.959);
  margin: 0;
  height: 10%;
  align-items: center;
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.peso{
  display: flex;
  font-size: 20px;
  background-color: rgba(44, 78, 42, 0.959);
  margin: 0;
  height: 10%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  justify-content: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

